*{
    margin:0;
    padding:0;
}
body{
    background-color: #dedede;
    font-family:"Times New Roman","微软雅黑";
}
.header{
    background-color: #333;
    height: 60px;
}
.header img{
    float: left;
    height: 40px;

    margin:10px 20px;
}
nav{
    float: right;
}
nav ul li{
    float: left;
    line-height:60px;
    margin-left:20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 5px;
}
.article, .photo, .form{
    background-color: #fff;
    margin:20px;
    padding:30px;
}
h3{
    color: #73746c;
}
.author{
    color: #737270;
}
.photo figure{
    text-align: center;
    font-size:10px;
    border: 1px solid #737270;;
    margin:20px;
    width: 150px;
    height: 150px;
}
.photo figcaption{
    line-height:30px;
}
.photo img{
    height:100px;
    width:100px;
}
.article ol {
    margin:20px;
    margin-left:50px;
}
.article table{
    width:100%;
    border:1px solid #666666;
    border-collapse:collapse;
    margin: 0 auto;
}
.article td{

    border:1px solid #666666;
}
.article thead td{
    background-color: #000;
    color:#fff;
}
.article a{
    text-decoration: none;
}
.article tfoot td{
    background-color: #666;
    color:#fff;
}
form{
    line-height:40px;
}
.center{
    width:50%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.form form p{
    font-size:15px;
    color: #333;
    margin-left: 50%;
}
button{
    background-color: #3355d0;
    color:#fff;
    width:100%;
    height: 40px;
    border-radius: 10px;
}